/* @import url("./box.css");
div {
  font-size: 100px;
}

#red {
  color: red;
}

.orange {
  color: orange;
}

.orange + li {
  background-color: green;
}

.box{
  width: 100px;
  height: 100px;
  background: orange;
  transition: 1s;
}

.box:hover {
  width: 300px;
  background-color: royalblue;
}

.box:active {
  background-color: red;
}

label {
  display: block;
}

input:focus{
  background-color: blue;
}
 */
/* 
.fruits span:first-child {
  color: red;
}

.fruits div:first-child {
  color: orange;
  font-size: 100px;
}

.fruits h3:last-child {
  color: rosybrown;
}

.fruits *:nth-child(2) {
  color: blue;
} */

.fruits *:nth-child(2n+1) {
  color: red;
  font-style: bold;
}
.box{
  width: 100px;
  height: 100px;
  background-color: orange;
}
.box::before{
  content: "";
}

.box::after{
  content: "";
  width: 30px;
  height: 30px;
  display: block;
  background-color: royalblue;
}

[type="text"]{
  background-color: orange; 
}

[data-fruit-name] {
  color: red;
}

.animal {
  color: red;
}

.parent {
  width: 300px;
  height: 400px;
  background-color: orange;
}
.child {
  width: 100px;
  height: inherit;
  background-color: inherit;
  position: fixed;
  top: 100px;
  right: 10px;
}