@import url("./box.css");
div {
  font-size: 100px;
}

#red {
  color: red;
}

.orange {
  color: orange;
}

.orange + li {
  background-color: green;
}

.box{
  width: 100px;
  height: 100px;
  background: orange;
  transition: 1s;
}

.box:hover {
  width: 300px;
  background-color: royalblue;
}

.box:active {
  background-color: red;
}

label {
  display: block;
}

input:focus{
  background-color: blue;
}